.card {
  height: 17em;
}

.card .header {
  width: 185px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.description {
  max-height: 4em;
  overflow: hidden;
}

.ui.fixed.menu+.ui.grid {
  padding-top: 4.5rem;
}
